<!-- @author: Matthew O & Alex P -->
<%= javascript_include_tag "sidebar.js" %>
<%= javascript_include_tag "timer.js" %>
<!--Side bar -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="col-md-12 text-center">
        <div class ="square i-<%= @student.color %> center-block">
             <span class="fa fa-<%= @student.student_icon %> fa-5x student-icon"></span>
        </div>
        <h3><%= @student.student_name %></h3>
        <p id="start_time"></p>
        <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary", name: 'end_session') do %>
           End Session
       <% end %>
    </div>
</div><!--End Sidebar -->
<!--Top Buttons-->
<div class="row">
    <div class="col-xs-1">
        <span onclick="openNav()"><i class="fa fa-chevron-circle-left fa-2x"></i></span>
    </div>
    <div class="col-xs-4 pull-right">
        <button class="btn btn-lg btn-secondary noteBtn"><i class="fa fa-pencil-square-o icon-white fa-lg"></i> Notes</button>
        <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary", name: 'end_session') do %>
           End Session
    <% end %>
    </div>
</div>
<!-- Main Content -->
<div id="main">
    <div class="container-fluid">
        <!-- Behavior Square Area -->
        <% @student.squares.each_with_index do |square, index| %>
            <% if index == 0 || index.even? %>
                <div class="row behavior-row">
            <% end %>
                <div class="col-sm-offset-1 col-xs-4 col-md-3">
                    <% if square.square_type == 2 %>
                        <div class="wrapper frequency" name="<%= square.id %>">
                            <button class="counter">
                                <div class="square i-<%= square.color %> text-center">
                                    <div class="col-xs-12">
                                            <h4><%= square.square_id %> <label class="count">0</label></h4>
                                        </div>
                                    </div><!--End Square-->
                                </button>
                            </div><!-- End Wrapper -->
                        <% end %>
                        <% if square.square_type == 1 %>
                        <div class="wrapper interval" name="<%= square.id %>">
                            <button class="counter">
                                <div class="square i-<%= square.color %> text-center">
                                    <div class="col-xs-12">
                                            <h4><%= square.square_id %> <label class="count">0</label></h4>
                                        </div>
                                    </div><!--End Square-->
                                </button>
                            </div><!-- End Wrapper -->
                        <% end %>
                        <% if square.square_type == 0 %>
                        <div class="wrapper duration" name="<%= square.id %>">
                            <button class="button-start" id="button-start1">
                                <div class="square i-<%= square.color %> text-center">
                                    <div class="col-xs-12">
                                            <h4><%= square.square_id %> </h4>
                                            <p id = "timer"><span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tens">00</span></p>
                                        </div>
                                    </div><!--End Square-->
                                </button>
                            </div><!-- End Wrapper -->
                        <% end %>
                </div><!--End Col -->
            <% if (index.odd?) || index == (@student.squares.size-1) %>
                </div>   <!-- row -->
            <% end %>
          <% end %>
    </div><!--End Fluid Container-->
</div><!--End Main -->
<!-- Additional Button Area -->
<div class="row">
    <div class="col-sm-2 pull-right">
        <div class="btn btn-danger btn-lg">Undo</div>
    </div>
</div>