<div class="page-header cap17-header vertical-align">
	<div class="col-xs-11">
		<h2>New Teacher <small>- add a new teacher to TPTE</small></h2>
	</div>
	<div class="col-xs-1 ">
		<div class="header-sq i-ltblue" >
			<span class="fa fa-home fa-3x teacher-icon "></span>
		</div>
	</div>
</div>
<!-- Teacher profile area -->
<%= form_for(@teacher) do |f| %>

<p>Note from Kevin M: Cannot currently create teachers this way due to no school_id entry.</p>
<p>Everything is working, but we're going to pull the ID from the admin accessing this page.</p>
<p>In the meantime, if you want to make a teacher, use the rails console.</p>
<br> Errors: <%= @teacher.errors.full_messages %>

<div class="row form-row">
	<!-- Teacher ID -->
	<div class="col-sm-2 col-sm-offset-1"><h4> Teacher ID: </h4></div>
	<div class="col-sm-2">
		<%= f.text_field :user_name, class: 'form-control', id: 'teacherID' %>
	</div>
</div>

<!-- Teacher name field -->
<div class="row form-row">
<div class="col-xs-1 col-xs-offset-1"><h4>Name: </h4></div>
<div class="col-xs-4 col-xs-offset-1">
		<%= f.text_field :teacher_name, class: 'form-control', id: 'teacherName' %>
	</div>
</div>   <!-- row -->

<!-- Teacher Email -->
<div class="row form-row">
	<div class="col-sm-offset-1 col-sm-2"><h4>Email: </h4></div>

	<div class="col-sm-4 col-sm-offset-0">
		<%= f.email_field :teacher_email, class: 'form-control', id: 'email' %>
	</div>
</div>

<!-- Teacher password -->
<div class="row form-row">
	<div class="col-sm-offset-1 col-sm-2"><h4>Password: </h4></div>

	<div class="col-sm-4 col-sm-offset-0">
		<!--<input type="password" class="form-control" id="password"> Temporarily commented out until the model is updated.-->
	</div>
</div>

<!--Teacher Admin -->
<div class="row form-row vertical-align">
	<div class="col-sm-offset-3 col-sm-2"><h4>Admin</h4></div>
	<%= f.check_box :admin_powers, class: 'form-control' %>

	<div class="col-sm-offset-0 col-sm-2"><h4>Analysis </h4></div>
	<%= f.check_box :analysis_powers, class: 'form-control' %>
</div>

<!-- a little extra space after name/email -->
<div class="form-spacer">	&nbsp;</div>

<div class="row form-row vertical-align">
	<div class="col-sm-offset-1 col-sm-2"><h4>Color: </h4></div>

	<div class="col-sm-4 col-sm-offset-0">
		<%= f.select :color, options_for_select([
		"Cyan", 
		"Blue", 
		"Red", 
		"Yellow"]), 
		class: 'form-control' %>
	</div>
</div>

<!-- teacher icon field -->
<div class="row form-row">
	<div class="col-xs-1 col-xs-offset-1"><h4>Icon: </h4></div>
	<div class="col-xs-4 col-xs-offset-1">
		<%= f.select :teacher_icon_name, options_for_select([
		"Apple", 
		"Graduation Hat", 
		"Book", 
		"Pencil"]), 
		class: 'form-control' %>
	</div>
</div>

<div class="row form-row">
	<div class="col-sm-offset-1 col-sm-2"><h4>Description: </h4></div>

	<div class="col-sm-6 col-sm-offset-0">
		<%= f.text_field :teacher_description, class: 'form-control', id: 'Description' %>
	</div>
</div>  

<div class="row form-row">
	<div class="col-sm-1 col-sm-offset-1"><br></div>
</div>

<div class="row action-buttons-row">
	<div class="col-sm-1 col-sm-offset-1"> 
		<%= f.submit "Add New Teacher", class: "btn btn-success" %>
	</div>
	<div class="col-sm-1 col-sm-offset-1"> 
		<button type="submit" class="btn btn-danger">Cancel</button>
	</div>
</div>
<% end %>

<!--Author: Kevin M-->
<!--Placeholder, just scaffolding HTML code
<h1>New Teacher</h1>

< %= render 'form', teacher: @teacher %>

< %= link_to 'Back', teachers_path %>-->
