<p id="notice"><%= notice %></p>

<p>
  <strong>Behavior square:</strong>
  <%= @session_event.behavior_square_id %>
</p>

<p>
  <strong>Square press time:</strong>
  <%= @session_event.square_press_time %>
</p>

<p>
  <strong>Duration end time:</strong>
  <%= @session_event.duration_end_time %>
</p>

<p>
  <strong>Session:</strong>
  <%= @session_event.session_id %>
</p>

<%= link_to 'Edit', edit_session_event_path(@session_event) %> |
<%= link_to 'Back', session_events_path %>
